<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>  
     <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
     <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/test</property>
     <property name="hibernate.connection.username">root</property>
     <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
     <property name="show_sql">true</property>
     <property name="hibernate.connection.pool_size">6</property>
     <property name="current_session_context_class">thread</property>
     <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
     <property name="hbm2ddl.auto">update</property>
    
     <mapping class="beans.client.Client"/>  
      <mapping class="beans.categorie.Categorie"/>  
       <mapping class="beans.produits.Produit"/>  
      <mapping class="beans.ligne_facture.LigneFacture"/>  
      <mapping class="beans.entete_facture.EnteteFacture"/>  
              
    <!--  <mapping class="com.zouch.beans.EnteteFacture"/> 
     <mapping class="com.zouch.beans.LigneFacture"/> 
     <mapping class="com.zouch.beans.Produit"/>  -->
  </session-factory>
</hibernate-configuration>